.aria-lab child {
    display: block;
}

.aria-lab children {
    display: block;
    padding-left: 20px;
}

.aria-lab .expander + label {
    padding-left: 4px;
}

.aria-lab label:focus {
    border: 1px solid black;
}

.aria-lab .expander {
    background-color: transparent;
    border: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHAQAAAAAZ1+HOAAAAAnRSTlMAAQGU/a4AAAAdSURBVHjaY97/kEGOgfnvL+YqBsYDDEyKDExCDABI7AUxjpsRQAAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
}

.aria-lab .expander.collapsed {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAKAQAAAABQt3mgAAAAAnRSTlMAAQGU/a4AAAAaSURBVHjaY5jHwMfQxnCI4QEQHgKy+BjmAQA4pAWpty8c5wAAAABJRU5ErkJggg==");
}

.aria-lab .collapsed ~ children {
    display: none;
}
