span {
    display: block;
}

span.children {
    padding-left: 20px;
}

label:focus {
    border: 1px solid black;
}

.expander {
    background-color: transparent;
    border: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHAQAAAAAZ1+HOAAAAAnRSTlMAAQGU/a4AAAAdSURBVHjaY97/kEGOgfnvL+YqBsYDDEyKDExCDABI7AUxjpsRQAAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
}

.expander.collapsed {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAKAQAAAABQt3mgAAAAAnRSTlMAAQGU/a4AAAAaSURBVHjaY5jHwMfQxnCI4QEQHgKy+BjmAQA4pAWpty8c5wAAAABJRU5ErkJggg==");
}

.collapsed ~ .children {
    display: none;
}

